.headerWrap {
  z-index: 2;

  .headerLine {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 1920px;
    height: 70px;
    background: url('../../../../assets/pic_title_large@2x.png') no-repeat;
    background-size: 100%;
  }

  .header {
    position: absolute;
    left: 846px;
    top: 19px;
    white-space: nowrap;
    font-size: 40px;
    color: #00bbff;
  }
}
