  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
       <style type="text/css">
            html{
              font-size: 10px;
            }
            @media screen and (min-width: 1280px) {
            html {
              font-size: 10px;
            }
          }
          @media screen and (max-width: 1280px) {
            html {
              font-size: 8px;
            }
          }
          @media screen and (max-width: 960px) {
            html {
              font-size: 6px;
            }
          }
            </style>
    </head> 
    <body>
      
      <div id="root"></div>
    </body>
